[[source]]
url = "https://mirrors.aliyun.com/pypi/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = {extras = ["async"], version = "2.0.2"}
requests = "*"
flask-cors = "*"
flask-migrate = "*"
flask-restful = "*"
pymysql = "*"
loguru = "*"
redis = "*"
shortuuid = "*"
cryptography = "*"
apscheduler = "*"
flask-apscheduler = "*"
psycopg2-binary = "*"

[dev-packages]

[requires]
python_version = "3.9"
