[mysqld]
character-set-server = utf8mb4
collation-server = utf8mb4_bin

# 网络和连接设置
bind-address = 0.0.0.0
port = 3306

# 基本设置
max_connections = 500
skip-name-resolve
sql_mode = STRICT_TRANS_TABLES,NO_ENGINE_SUBSTITUTION
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci

# 缓冲和缓存设置
innodb_buffer_pool_size = 4G  # 根据你的服务器内存进行调整
innodb_log_file_size = 512M
innodb_log_buffer_size = 64M
innodb_file_per_table = 1
innodb_flush_log_at_trx_commit = 1
innodb_flush_method = O_DIRECT

# 查询缓存设置（仅在需要时启用）
query_cache_type = 1
query_cache_size = 64M

# 日志和监控
log_error = /var/log/mysql/error.log
slow_query_log = 1
slow_query_log_file = /var/log/mysql/slow.log
long_query_time = 2

# 性能调优
tmp_table_size = 64M
max_heap_table_size = 64M
table_open_cache = 4000
thread_cache_size = 128
innodb_thread_concurrency = 16
innodb_read_io_threads = 4
innodb_write_io_threads = 4

# 安全设置
# secure-file-priv = /var/lib/mysql-files
local-infile = 0

# 复制（如果使用复制）
# server-id = 1
# log_bin = /var/log/mysql/mysql-bin.log
# binlog_do_db = include_database_name
# binlog_ignore_db = include_database_name
