<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <link rel="icon" type="image/svg+xml" href="{{static_path}}/favicon.ico"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <title>{{title}}</title>
    <link rel="stylesheet" href="{{static_path}}/index.css"/>
</head>
<body>
<div id="data" style="display: none">{{logs_json}}</div>
<div id="app"></div>
<script>
    window.logData = JSON.parse(document.getElementById('data').innerText)
</script>
<script src="{{static_path}}/index.js"></script>
</body>
</html>
